.dashboard {
  display: flex;
  min-height: 100vh;
  background-color: var(--primary-bg-color);
  overflow: hidden;
}

.dashboard-sidebar {
  width: 280px;
  height: 100vh;
  padding: 20px 0;
  background-color: var(--secondary-bg-color);
  display: flex;
  flex-direction: column;
  color: var(--primary-text-color);
}

.dashboard-logo {
  display: flex;
  align-items: center;
  height: 70px;
  font-size: 25px;
  font-weight: 600;
  padding: 0 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--primary-bg-color);
  color: var(--primary-text-color);
}
.dashboard-sidebar nav {
  width: 100%;
  padding: 0 20px;
}
.dashboard-sidebar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dashboard-sidebar nav li {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  color: var(--secondary-text-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
.dashboard-sidebar nav li svg {
  margin-right: 8px;
  font-size: 22px;
}

.dashboard-sidebar nav li.dash-section-active,
.dashboard-sidebar nav li:hover {
  background-color: rgba(86, 178, 187, 0.15);
  color: var(--primary-text-color);
}

.dash-logout {
  display: flex;
  align-items: center;
  height: 70px;
  border-top: 1px solid var(--primary-bg-color);
  padding: 0 30px;
  margin-top: auto;
  color: var(--secondary-text-color);
  cursor: pointer;
  font-weight: bolder;
}
.dash-logout svg {
  margin-right: 8px;
}

.dashboard-main {
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
  padding: 24px 32px;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.dashboard-m-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-m-header h2 {
  color: var(--primary-text-color);
}

.dashboard-ur-profile {
  display: flex;
  align-items: center;
  gap: 5px;
}


.user-info-card {
  background-color: var(--secondary-bg-color);
  border-radius: 16px;
  padding:30px 20px;
  margin: 25px 0;
  display:flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-text-color);
}

.user-info {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 10px;
}

.user-info small {
  color: var(--secondary-text-color);
}

.user-info h3 {
  margin: 0px;
  color: var(--primary-text-color);
}

.user-info img {
  border-radius: 50%;
}


.user-info-card small {
  color: var(--secondary-text-color);
}

.user-info-card p {
   margin: 0px;
  color: var(--primary-text-color);
  font-weight: 500;
}
.user-info-card svg{
  color: var(--symbol-color);
  margin-right: 8px;
}
.add-btn{
  width: 100%;
  display: flex;
  justify-content: end;
}
.add-btn button{
  background-color: var(--symbol-color);
  color: #000;
  padding: 12px 18px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 25px;
}

.students {
  background-color: var(--secondary-bg-color);
  border-radius: 16px;
  padding: 20px;
  color: var(--primary-text-color);
}

.students-dashboard-m-header h3 {
  color: var(--primary-text-color);
}

.students-dashboard-m-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.studentuser-filters {
  display: flex;
  gap: 10px;
  justify-content: end;
}

.studentuser-filters label{
  display: flex;
  align-items: center;
  background-color: var(--primary-bg-color);
  border: 1px solid #2a324d;
  color: var(--primary-text-color);
  height: 35px;
  padding: 8px 12px;
  border-radius: 8px;
}
.studentuser-filters label input{
  width: 200px;
  border: 0;
  background-color: transparent;
}
.studentuser-filters label select{
  /* width: 100px; */
  color: var(--primary-text-color);
  border: 0;
  background-color: transparent;
  font-weight: bold;
}
.studentuser-filters label select option{
  /* width: 100px; */
  color: var(--primary-text-color);
  border: 0;
  background-color: var(--primary-bg-color);
}
.studentuser-filters label svg{
  font-size: 14px;
  margin: 0 5px;
  top: -1px;
}
.studentuser-filters input::placeholder {
  color: var(--secondary-text-color);
}
.studentuser-filters input:focus, .studentuser-filters select:focus {
  border: none;
  outline: none;
  color: var(--primary-text-color);
}
.studentuser-table-wrapper table {
  width: 100%;
  border-collapse: collapse;
}

.studentuser-table-wrapper th {
  color: var(--secondary-text-color);
  font-weight: 500;
}

.studentuser-table-wrapper th,
.studentuser-table-wrapper td {
  padding: 14px;
  border-bottom: 1px solid #2a324d;
  text-align: left;
}

.studentuser-table-wrapper td {
  color: var(--primary-text-color);
}

.studentuser-table-wrapper .badge {
  padding: 5px 12px;
  border-radius: 999px;
  font-size: 13px;
  text-transform: capitalize;
  color: #fff;
}

.studentuser-table-wrapper .excellent {
  background-color: #1c8c8c;
}
.studentuser-table-wrapper .good {
  background-color: #274c9c;
}
.studentuser-table-wrapper .average {
  background-color: #a47b00;
}
.dash-action-btn button{
  cursor: pointer;
  background-color: transparent;
  border: 0;
  color: var(--primary-text-color);
  font-size: 18px;
}
/* Modal Overlay */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(10, 15, 34, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal */
.modal {
  background: var(--secondary-bg-color);
  width: 420px;
  border-radius: 16px;
  padding: 20px;
  color: var(--primary-text-color);
}

/* Header */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.modal-header h3 {
  font-size: 18px;
}

.close {
  font-size: 22px;
  cursor: pointer;
  color: var(--secondary-text-color);
}

/* Body */
.modal-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-body label {
  font-size: 13px;
  color: var(--secondary-text-color);
}

.modal-body input,
.modal-body select {
  background: var(--primary-bg-color);
  border: 1px solid #2a324d;
  color: var(--primary-text-color);
  padding: 10px;
  border-radius: 8px;
}

/* Footer */
.modal-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cancel-btn {
  background: transparent;
  border: none;
  color: var(--secondary-text-color);
  cursor: pointer;
}

.submit-btn {
  background: var(--symbol-color);
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 900px) {
  .dashboard-sidebar {
    display: none;
  }

  .dashboard-main {
    overflow-y: scroll;
  }
}
