
.dashboard {
  display: flex;
  min-height: 100vh;
  background-color: var(--primary-bg-color);
  overflow: hidden;
}

.dashboard-sidebar {
  width: 240px;
  height: 100vh;
  background-color: var(--secondary-bg-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: var(--primary-text-color);
}

.dashboard-logo {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  color: var(--primary-text-color);
}
.dashboard-sidebar nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.dashboard-sidebar nav li {
  display: block;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.dashboard-sidebar nav li.dash-section-active,
.dashboard-sidebar nav li:hover {
  background-color: rgba(86, 178, 187, 0.15);
  color: var(--primary-text-color);
}

.dash-logout {
  margin-top: auto;
  color: var(--secondary-text-color);
  cursor: pointer;
}


.dashboard-main{
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
  padding: 24px 32px;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.dashboard-m-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-m-header h2 {
  color: var(--primary-text-color);
}

.dashboard-ur-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dashboard-ur-profile strong {
  color: var(--primary-text-color);
}

.dashboard-ur-profile small {
  color: var(--secondary-text-color);
}

.dashboard-ur-profile img {
  border-radius: 50%;
}

.user-info-card {
  background-color: var(--secondary-bg-color);
  border-radius: 16px;
  padding: 20px;
  margin: 25px 0;
  display: grid;
  grid-template-columns: 1fr 2fr auto;
  gap: 20px;
  align-items: center;
  color: var(--primary-text-color);
}

.user-info {
  display: flex;
  gap: 15px;
}

.user-info small {
  color: var(--secondary-text-color);
}

.user-info h3 {
  color: var(--primary-text-color);
}

.user-info img {
  border-radius: 50%;
}

.user-status {
  display: flex;
  gap: 40px;
}

.user-status small {
  color: var(--secondary-text-color);
}

.user-status p {
  color: var(--primary-text-color);
  font-weight: 500;
}

.add-btn {
  background-color: var(--symbol-color);
  color: #000;
  padding: 12px 18px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}


.students {
  background-color: var(--secondary-bg-color);
  border-radius: 16px;
  padding: 20px;
  color: var(--primary-text-color);
}

.students-dashboard-m-header h3 {
  color: var(--primary-text-color);
}

.students-dashboard-m-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.studentuser-filters {
  display: flex;
  gap: 10px;
  justify-content: end;
  width: 100%;
  
}

.studentuser-filters input,
.studentuser-filters select {
  background-color: var(--primary-bg-color);
  border: 1px solid #2a324d;
  color: var(--primary-text-color);
  padding: 8px 12px;
  border-radius: 8px;
}

.studentuser-filters input::placeholder {
  color: var(--secondary-text-color);
}

.studentuser-table-wrapper  table {
  width: 100%;
  border-collapse: collapse;
}

.studentuser-table-wrapper th {
  color: var(--secondary-text-color);
  font-weight: 500;
}

.studentuser-table-wrapper th,.studentuser-table-wrapper  td {
  padding: 14px;
  border-bottom: 1px solid #2a324d;
  text-align: left;
}

.studentuser-table-wrapper td {
  color: var(--primary-text-color);
}

.studentuser-table-wrapper .badge {
  padding: 5px 12px;
  border-radius: 999px;
  font-size: 13px;
  text-transform: capitalize;
  color: #fff;
}

.studentuser-table-wrapper .excellent { background-color: #1c8c8c; }
.studentuser-table-wrapper .good { background-color: #274c9c; }
.studentuser-table-wrapper .average { background-color: #a47b00; }

@media (max-width: 900px) {
  .dashboard-sidebar {
    display: none;
  }

  .user-info-card {
    grid-template-columns: 1fr;
  }
}
