* {
  position: relative;
  box-sizing: border-box;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: var(--primary-bg-color);
  background-color: var(--symbol-color);
  width: 90px;
  height: 40px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}
.btn:hover {
  font-size: 16px;
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}
svg{
  position: relative;
  top: 1px;
}
