.Navbar {
  width: 100%;
  height: 80px;
  background-color: var(--primary-bg-color);
  padding: 0 80px;
}
.Navbar nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.sitelogo {
  color: var(--primary-text-color);
  font-size: 25px;
  font-weight: bold;
}

.secdash {
  display: flex;
  list-style: none;
  align-items: center;
}
.secdash > li {
  margin: 0 20px;
}
.secdash > li a {
  color: var(--primary-text-color);
  text-decoration: none;
  cursor: pointer;
}
.secdash > li a:hover {
  color: var(--symbol-color);
}
