.main-h-ur-p{
  position: relative;
}
.header-user-profile{
  display: flex;
  gap: 5px;
  padding:5px 15px;
  border-radius: 10px;
  cursor: pointer;
}
.header-user-profile:hover{
  background-color: var(--secondary-bg-color);
}
.header-user-profile:active{
  background-color: var(--secondary-bg-color);
  border: 2px solid var(--primary-text-color);
}
.header-username{
  display: flex;
  flex-direction: column;
}
.header-user-profile strong {
  color: var(--primary-text-color);
}

.header-user-profile small {
  color: var(--secondary-text-color);
}

.header-user-profile img {
  border-radius: 50%;
}
.header-s-account{
  position: absolute;
  right: 0;
  z-index: 5;
  width: 250px;
  margin-top: 10px;
  background-color: var(--secondary-bg-color);
  border: 1px solid var(--primary-bg-color);
  border-radius: 10px;
  /* padding: 5px 0 */
}
.header-s-account ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-s-account ul li{
  display: flex;
  align-items: center;
  width: 100%;
  padding:5px;
  
}
.header-s-account ul li a{
   display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
.header-s-account ul li a:hover{
  background-color: var(--primary-bg-color);
}
.header-s-account ul >:first-child{
  margin: 5px 0;
  border-bottom: 2px solid var(--primary-bg-color);
}
.header-s-account ul >:last-child{
    margin: 5px 0;
  border-top: 2px solid var(--primary-bg-color);
}
